:root {
  /* Global Scope */
  --primary-bg-color: #9300c5;
  --secondary-bg-color: #3a363b;
  --primary-accent: #aaa9ad;
  --secondary-accent: #d4af37;
  --div-bg: #ecb3ff;
  --div-border: #4d0066;
}

body {
    background-color: var(--primary-bg-color);
    margin: auto;
    color: var(--secondary-accent);
}

/* Landing Page */

.landing-title {
    font-family: Garamond, "Liberation Serif", sans-serif;
    text-align: center;
    padding-top: 10px;
    margin-bottom: auto;
    margin-top: 33vh;
    color: var(--primary-accent);
    font-size: 8vh;
}

.landing-ul {
    padding-left: 0;
    text-align: center;
}

.landing-li {
    display: inline-block;
}

.landing-link {
    color: var(--secondary-accent);
    font-size: 2.5vh;
}

.landing-left-item {
    border-right-style: solid;
    border-right-color: var(--primary-accent);
    border-right-width: 2px;
    padding-right: 2em;
}

.landing-middle-item {
    padding: 0 2em 0;
}

.landing-right-item {
    border-left-style: solid;
    border-left-color: var(--primary-accent);
    border-left-width: 2px;
    padding-left: 2em;
}

/* Recipe Pages */

.header {
    background-color: var(--secondary-bg-color);
    padding: 10px 0;
}

.header a {
    color: var(--secondary-accent);
    font-size: 2em;
}

.recipe-title {
    color: var(--secondary-accent);
    font-family: Garamond, "Liberation Serif", sans-serif;
    font-size: 4vh;
}

.recipe-subheader {
    color: var(--secondary-accent);
    font-family: Garamond, "Liberation Serif", sans-serif;
    font-size: 3vh;
}

.recipe-box {
    color: var(--secondary-bg-color);
    background-color: var(--div-bg);
    border-width: 2px;
    border-color: var(--div-border);
    width: 50vw;
    margin-left: 3vw;
    padding: 10px;
    padding-left: 20px;
    font-size: 2vh;
}

img {
    margin-left: 3vw;
}

.recipe-box#bottom-text {
    margin-bottom: 5vh;
}
